@import 'src/styles/mixins';
@import 'src/styles/variables';


$aside-padding:15px;
nav{
    display: grid;
    height: 100vh;
    align-content:baseline;
     background-color:$secondary-background;
     color: #929293;
     width: 300px;
     

     &.is-closed {
      width: 50px;
    }
    

    ul{
      display: grid;
      grid-gap:10px;
    li{
      padding-left: $aside-padding;
      display: grid;
      grid-template-columns: 30px 1fr;
      align-items: center;
      padding-bottom: 5px;
      padding-top: 5px;

      &:not(#logo){
        &:hover{
          background-color: $blue;
          transition: background-color .3s;
        }
      }
    
      &.active-route{
        background-color: $blue;

        span{
          color: white;
        }
        

      }
     
      &#logo{ 
       display: grid;
       grid-template-columns: auto 1fr;
       align-items: center;
       grid-gap: 5px;

       img{
        width: 25px;
        display: block;
        cursor: pointer;
      }

         
         &.is-closed{
           display: none;
         }
      

        i{
          padding-right:$aside-padding;
          justify-self: end;
          display: block;
        }
      }

        i{
        font-size: 30px;
         &.fa-chevron-left{
           font-size: 15px;
         }

        &.fa-html5{
        color: $html;

        &.active-route{
          color: white;
        }
      }

      &.fa-css3-alt{
        color: $css;
        &.active-route{
          color: white;
        }
        }

      &.fa-js{
        font-size: 26px;
        // color: $javascript;
        color: $yellow;
        
        &.active-route{
          color: white;
        }

        }

      }

      span{
        display: block;

        &.is-closed{
          display: none;
        }
      }
        
    }
}

} 

