@import 'src/styles/variables';
@import 'src/styles/mixins';
$background-color: $background-color;
$color:#e7e7f0;


footer{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:20px;
  align-items: center;
  justify-content:end;
  background-color: $background-color;
  color: $color;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 0 20px;
 


#social-media{
  display: grid;
  grid-gap:10px;
  grid-template-columns: auto auto auto;

  a{
   border-bottom: 3px solid transparent;
   display: inline-block;

   &:hover{
    @include auto-mix;
   }
  }

}


}