#home-container
{
    height: 100%;
    width: 100%;
    justify-items: center;
    display: grid;
    cursor: pointer;
    h1{
        color: #fff;
        align-self: end;
    }

    #main-categories  {
        ul{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 20px;
        }
        li{
        display: inline-block;
        font-size: 100px;
        i{
            &.fa-html5{
                color: #ff073a;
                 }
        
              &.fa-css3{
                color: #1f46f1;
                }
        
              &.fa-js{
                color: #d60ecc;
                }
        }

        }
    }
}