#site-container
{
display: grid;
grid-template-columns: auto 1fr;
grid-template-areas: 
'side-nav main';
}
app-side-nav
{
    grid-area: side-nav;
    height: 100vh;
    
   
}
main
{
    grid-area: main;
    padding: 20px 30px;
    margin-bottom: 70px;
}

